@using BrokerBudget.Application.UseCases.Products;
@using BrokerBudget.Application.UseCases.Purchases.Commands.UpdatePurchase;
@using BrokerBudget.Application.UseCases.Purchases;
@using BrokerBudget.Application.UseCases.ProductGivers;
@using BrokerBudget.Domain.Entities;

@model PurchaseResponse

@{
    ViewData["Title"] = "UpdatePurchase";
    Layout = "_Layout";

    ProductResponse[] Products = ViewData["Products"] as ProductResponse[];
    ProductGiverResponse[] ProductGivers = ViewData["ProductGivers"] as ProductGiverResponse[];
}

<h3 class="header-text">Харидлар Изменить</h3>
<hr />

<form asp-controller="Purchase" asp-action="UpdateOwnPurchase" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="create-form mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6" style="overflow-y:scroll; width:50%; height:70vh">
                <div class="custom-input">

                    <div class="form-group mt-3">
                        <label for="ProductFilter">Товар:</label>
                        <select class="form-control" id="ProductId" name="ProductId" required>
                            <option value="">Товарни Танланг</option>
                            @foreach (var Product in Products)
                            {
                                <option value="@Product.Id" data-ProductGiver-info="@Product.Name"> @Product.Name </option>
                            }
                        </select>
                    </div>

                    <script>
                        $(document).ready(function () {
                            // Initialize Select2 with custom options
                            $('#ProductId').select2({
                                placeholder: "Товарни Танланг",
                                allowClear: true,
                                matcher: function (params, data) {
                                    // If there's no search term, return all options
                                    if ($.trim(params.term) === '') {
                                        return data;
                                    }

                                    // Remove special characters and convert to lowercase for comparison
                                    var term = $.trim(params.term).toLowerCase();
                                    var text = data.text.toLowerCase();

                                    // Check if the data text contains the term
                                    if (text.indexOf(term) > -1) {
                                        return data;
                                    }

                                    return null;
                                }
                            });

                            // Set the selected option based on Model.ProductGiverId
                            var ProductId = "@Model.ProductId";
                            if (ProductId) {
                                $('#ProductId').val(ProductId).trigger('change');
                            }
                        });
                    </script>


                    <div class="form-group mt-3">
                        <label for="ProductGiverFilter">Товар Берувчи:</label>
                        <select class="form-control" id="ProductGiverId" name="ProductGiverId" required>
                            <option value="">Товар Берувчини Танланг</option>
                            @foreach (var ProductGiver in ProductGivers)
                            {
                                <option value="@ProductGiver.Id" data-ProductGiver-info="@ProductGiver.CompanyName / @ProductGiver.ResponsiblePersonName / @ProductGiver.PhoneNumber">@ProductGiver.CompanyName / @ProductGiver.ResponsiblePersonName / @ProductGiver.PhoneNumber</option>
                            }
                        </select>
                    </div>

                    <script>
                        $(document).ready(function () {
                            // Initialize Select2 with custom options
                            $('#ProductGiverId').select2({
                                placeholder: "Товар Берувчини Танланг",
                                allowClear: true,
                                matcher: function (params, data) {
                                    // If there's no search term, return all options
                                    if ($.trim(params.term) === '') {
                                        return data;
                                    }

                                    // Remove special characters and convert to lowercase for comparison
                                    var term = $.trim(params.term).toLowerCase();
                                    var text = data.text.toLowerCase();

                                    // Check if the data text contains the term
                                    if (text.indexOf(term) > -1) {
                                        return data;
                                    }

                                    return null;
                                }
                            });

                            // Set the selected option based on Model.ProductGiverId
                            var ProductGiverId = "@Model.ProductGiverId";
                            if (ProductGiverId) {
                                $('#ProductGiverId').val(ProductGiverId).trigger('change');
                            }
                        });
                    </script>

                    <div class="form-group mt-3">
                        <label for="ProductTakerFilter">Товар Олувчи:</label>
                        <select class="form-control" id="ProductTakerId" name="ProductTakerId" required>
                            <option value="">Товар Олувчини Танланг</option>
                            @foreach (var ProductTaker in ProductTakers)
                            {
                                <option value="@ProductTaker.Id" data-ProductTaker-info="@ProductTaker.CompanyName / @ProductTaker.ResponsiblePersonName / @ProductTaker.PhoneNumber">@ProductTaker.CompanyName / @ProductTaker.ResponsiblePersonName / @ProductTaker.PhoneNumber</option>
                            }
                        </select>
                    </div>

                    <script>
                        $(document).ready(function () {
                            // Initialize Select2 with custom options
                            $('#ProductTakerId').select2({
                                placeholder: "Товар Олувчини Танланг",
                                allowClear: true,
                                matcher: function (params, data) {
                                    // If there's no search term, return all options
                                    if ($.trim(params.term) === '') {
                                        return data;
                                    }

                                    // Remove special characters and convert to lowercase for comparison
                                    var term = $.trim(params.term).toLowerCase();
                                    var text = data.text.toLowerCase();

                                    // Check if the data text contains the term
                                    if (text.indexOf(term) > -1) {
                                        return data;
                                    }

                                    return null;
                                }
                            });

                            // Set the selected option based on Model.ProductGiverId
                            var ProductTakerId = "@Model.ProductTakerId";
                            if (ProductTakerId) {
                                $('#ProductTakerId').val(ProductTakerId).trigger('change');
                            }
                        });
                    </script>

                    <div class="form-group mt-3">
                        <label asp-for="PurchaseDate">Тўлов Куни:</label>
                        <input asp-for="PurchaseDate" type="date" class="form-control" required value="@Model.PurchaseDate.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="Amount" class="form-label">Миқдор (Кг / Дона):</label>
                        <input asp-for="Amount" type="text" class="form-control" value="@Model.Amount">
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="SaleAmountCategoryPercentage" class="form-label">Чегирма (Кг / Дона):</label>
                        <input asp-for="SaleAmountCategoryPercentage" type="text" class="form-control" value="@Model.SaleAmountCategoryPercentage">
                        <span asp-validation-for="SaleAmountCategoryPercentage" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="PricePerAmount" class="form-label">Бир дона/кг учун нархи:</label>
                        <input asp-for="PricePerAmount" type="text" class="form-control" value="@Model.PricePerAmount">
                        <span asp-validation-for="PricePerAmount" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="SaleForTotalPrice" class="form-label">Умумий суммадан чегирма:</label>
                        <input asp-for="SaleForTotalPrice" type="text" class="form-control" value="@Model.SaleForTotalPrice">
                        <span asp-validation-for="SaleForTotalPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group button-group mt-3">
                        <button type="submit" class="btn btn-success">Сақлаш</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
