@using BrokerBudget.Application.UseCases.Products;
@using BrokerBudget.Application.UseCases.Purchases.Commands.UpdatePurchase;
@using BrokerBudget.Application.UseCases.Purchases;
@using BrokerBudget.Application.UseCases.ProductTakers;
@using BrokerBudget.Domain.Entities;

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

@model PurchaseResponse

@{
    ViewData["Title"] = "UpdatePurchase";
    Layout = "_Layout";

    ProductResponse[] Products = ViewData["Products"] as ProductResponse[];
    ProductTakerResponse[] ProductTakers = ViewData["ProductTakers"] as ProductTakerResponse[];
}

<style>
    #calculatedAmount {
        background-color: yellow;
        color: black;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
        width: 250px;
    }
</style>

<h3 class="header-text">Харид маълумотларини ўзгартириш</h3>
<div id="calculatedAmount" class="mt-3"> Сумма:  </div>
<hr />

<form asp-controller="Purchase" asp-action="UpdateClientPurchase" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="create-form mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6" style="overflow-y:scroll; width:50%; height:70vh">
                <div class="custom-input">

                    <div class="form-group mt-3">
                        <label for="ProductFilter">Товар:</label>
                        <select class="form-control" id="ProductId" name="ProductId" required>
                            <option value="">Товарни Танланг</option>
                            @foreach (var Product in Products)
                            {
                                <option value="@Product.Id" data-ProductGiver-info="@Product.Name"> @Product.Name </option>
                            }
                        </select>
                    </div>

                    <script>
                        $(document).ready(function () {
                            // Initialize Select2 for Product dropdown
                            $('#ProductId').select2({
                                placeholder: "Товарни Танланг",
                                allowClear: true,
                                matcher: function (params, data) {
                                    if ($.trim(params.term) === '') {
                                        return data;
                                    }

                                    var term = $.trim(params.term).toLowerCase();
                                    var text = data.text.toLowerCase();

                                    if (text.indexOf(term) > -1) {
                                        return data;
                                    }

                                    return null;
                                }
                            });

                            var productValue = @Json.Serialize(Model.ProductId); // Use Json.Serialize to ensure correct JavaScript representation
                            if (productValue) {
                                $('#ProductId').val(productValue).trigger('change');
                            }
                        });
                    </script>

                    <div class="form-group mt-3">
                        <label asp-for="Amount" class="form-label">Миқдор (Кг / Дона):</label>
                        <input asp-for="Amount" type="text" class="form-control" value="@Model.Amount">
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="SaleAmountCategoryPercentage" class="form-label">Чегирма (Кг / Дона):</label>
                        <input asp-for="SaleAmountCategoryPercentage" type="text" class="form-control" value="@Model.SaleAmountCategoryPercentage">
                        <span asp-validation-for="SaleAmountCategoryPercentage" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="PricePerAmount" class="form-label">Бир дона/кг учун нархи:</label>
                        <input asp-for="PricePerAmount" type="text" class="form-control" value="@Model.PricePerAmount">
                        <span asp-validation-for="PricePerAmount" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="SaleForTotalPrice" class="form-label">Умумий суммадан чегирма:</label>
                        <input asp-for="SaleForTotalPrice" type="text" class="form-control" value="@Model.SaleForTotalPrice">
                        <span asp-validation-for="SaleForTotalPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label for="ProductTakerFilter">Товар Олувчи:</label>
                        <select class="form-control" id="ProductTakerId" name="ProductTakerId" required>
                            <option value="">Товар Олувчини Танланг</option>
                            @foreach (var ProductTaker in ProductTakers)
                            {
                                <option value="@ProductTaker.Id" data-ProductGiver-number="@ProductTaker.CompanyName">@ProductTaker.CompanyName / @ProductTaker.PhoneNumber</option>
                            }
                        </select>
                    </div>

                    <script>
                        $('#ProductTakerId').select2({
                            placeholder: "Товар Олувчини Танланг",
                            allowClear: true,
                            matcher: function (params, data) {
                                    if ($.trim(params.term) === '') {
                                        return data;
                                    }

                                    var term = $.trim(params.term).toLowerCase();
                                    var text = data.text.toLowerCase();

                                    if (text.indexOf(term) > -1) {
                                        return data;
                                    }

                                    return null;
                                }
                            });

                        var productTakerValue = @Json.Serialize(Model.ProductTakerId); // Use Json.Serialize to ensure correct JavaScript representation
                        if (productTakerValue) {
                            $('#ProductTakerId').val(productTakerValue).trigger('change');
                        }
                        });
                    </script>

                    <div class="form-group mt-3">
                        <label asp-for="PurchaseDate">Тўлов Куни:</label>
                        <input asp-for="PurchaseDate" type="date" class="form-control" required value="@Model.PurchaseDate.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                    </div>

                    <div class="form-group button-group mt-3">
                        <button type="submit" class="btn btn-success">Сақлаш</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    console.log("Script is running");

    $(document).ready(function () {
        function updateCalculatedAmount() {
            var amount = parseFloat($("#Amount").val()) || 0;
            var saleAmountCategoryPercentage = parseFloat($("#SaleAmountCategoryPercentage").val()) || 0;
            var pricePerAmount = parseFloat($("#PricePerAmount").val()) || 0;
            var saleForTotalPrice = parseFloat($("#SaleForTotalPrice").val()) || 0;

            var calculatedAmount = ((amount - saleAmountCategoryPercentage) * pricePerAmount) - saleForTotalPrice;

            $("#calculatedAmount").text("Сумма: " + calculatedAmount.toFixed(2)); // You can format the amount as needed
        }

        $("#Amount, #SaleAmountCategoryPercentage, #PricePerAmount, #SaleForTotalPrice").on("input", updateCalculatedAmount);
    });
</script>