@using BrokerBudget.Application.UseCases.Payments.Commands.UpdatePayment;
@using BrokerBudget.Application.UseCases.Payments;
@using BrokerBudget.Application.UseCases.ProductTakers;
@using BrokerBudget.Domain.Entities;

@model PaymentResponse

@{
    ViewData["Title"] = "UpdatePayment";
    Layout = "_Layout";

    ProductTakerResponse[] ProductTakers = ViewData["ProductTakers"] as ProductTakerResponse[];
}

<h3 class="header-text">Изменить информацию об оплате</h3>
<hr />

<form asp-controller="Payment" asp-action="UpdateClientPayment" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="create-form mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6" style="overflow-y:scroll; width:50%; height:70vh">
                <div class="custom-input">

                    <div class="form-group mt-3">
                        <label for="ProductTakerFilter">Товар Олувчи:</label>
                        <select class="form-control" id="ProductTakerId" name="ProductTakerId" required>
                            <option value="">Товар Олувчини Танланг</option>
                            @foreach (var ProductTaker in ProductTakers)
                            {
                                <option value="@ProductTaker.Id" data-ProductTaker-info="@ProductTaker.CompanyName / @ProductTaker.ResponsiblePersonName / @ProductTaker.PhoneNumber">@ProductTaker.CompanyName / @ProductTaker.ResponsiblePersonName / @ProductTaker.PhoneNumber</option>
                            }
                        </select>
                    </div>

                    <script>
                        $(document).ready(function () {
                            // Initialize Select2 with custom options
                            $('#ProductTakerId').select2({
                                placeholder: "Товар Олувчини Танланг",
                                allowClear: true,
                                matcher: function (params, data) {
                                    // If there's no search term, return all options
                                    if ($.trim(params.term) === '') {
                                        return data;
                                    }

                                    // Remove special characters and convert to lowercase for comparison
                                    var term = $.trim(params.term).toLowerCase();
                                    var text = data.text.toLowerCase();

                                    // Check if the data text contains the term
                                    if (text.indexOf(term) > -1) {
                                        return data;
                                    }

                                    return null;
                                }
                            });

                            // Set the selected option based on Model.ProductGiverId
                            var ProductTakerId = "@Model.ProductTakerId";
                            if (ProductTakerId) {
                                $('#ProductTakerId').val(ProductTakerId).trigger('change');
                            }
                        });
                    </script>

                    <div class="form-group mt-3">
                        <label asp-for="PaymentAmount" class="form-label">Тўлов Суммаси:</label>
                        <input asp-for="PaymentAmount" type="text" class="form-control" value="@Model.PaymentAmount">
                        <span asp-validation-for="PaymentAmount" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label asp-for="PaymentDate">Тўлов Куни:</label>
                        <input asp-for="PaymentDate" type="date" class="form-control" required value="@Model.PaymentDate.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="PaymentDate" class="text-danger"></span>
                    </div>

                    <div class="form-group button-group mt-3">
                        <button type="submit" class="btn btn-success">Сақлаш</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
